*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../images/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
    min-height: 100vh;
	position: relative;
    padding-bottom: 50px; /* footer-place */
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
    overflow-y: scroll;
    background: url("../images/photographer.jpg") no-repeat 60% 30px #ffffff;
    background-size: contain;
}

.hidden {
	display: none;
}

header {
    margin-bottom: 20px;
    background-color: rgba(58, 87, 149, 0.75);


}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    font-size: 0.7em;
}

#login-button {
    margin: 0 0 10px;
}

#albums ul {
    margin-bottom: 0;
}

#albums li {
    cursor: default;
}

#albums li:not(.active):hover {
    /*background-color: #72cfff;*/
    background-color: rgba(58, 87, 149, 0.75);
}

#albums .list-group-item.active,
#albums .list-group-item.active:focus,
#albums .list-group-item.active:hover {
    background-color: rgba(58, 87, 149, 0.75);
}

#photos {
    width: 100%;
}

#photos,
#albums,
#albums .list-group-item:not(.active),
#events {
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/
    background-color: rgba(255, 255, 255, 0.5);
}

#events:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

#photos:hover,
#events tr:hover {
    /*background-color: rgba(255, 255, 255, 1.0);*/
    background-color: rgba(58, 87, 149, 0.75);
}

#events th {
    text-align: center;
}

#photos .thumbnail {
    display: inline-block;
    width: 250px;
    height: auto;
    margin: 10px;
}

#photos .thumbnail img {
    border: 1px solid #ddd;
}

#tooltip {
    border: 1px solid #337ab7;
}

h1.logo {
    margin: 0 auto;
    padding: 20px 0 0;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(58, 87, 149, 0.9);
    border-bottom: 1px solid #ffffff;
}